/vendor/
/node_modules/
/.playwright-mcp/
/.phpunit.cache/
/sandbox/
/.phpunit.result.cache
/.secretary-deploy/
/tests/__fixtures__/dev-null/
/tests/__fixtures__/content/
/tests/__fixtures__/users/
/tests/__fixtures__/revisions/
