/.github export-ignore
/.secretary-deploy export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/docs/deployment.md export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpunit.xml.dist export-ignore
/relay export-ignore
/scripts export-ignore
/scripts/** export-ignore
/tests export-ignore
/vite.config.js export-ignore
